@import "./reset.css";
@import "./style.css";
@import "./utils.css";
@import "./header.css";
@import "./footer.css";

header {
  margin-top: 0;
  position: static;
  background-color: var(--color-surface);
}

body {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

main {
  flex: 1;
}

.cart-section {
  font-size: 1.5rem;
  margin-block: 2rem;
}

.cart-section-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  max-width: 700px;
}

.cart-items {
  width: 100%;
  font-size: 1.5rem;
  display: flex;
  gap: 1rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.cart-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  border-radius: 8px;
  border: 2px solid var(--color-border);
  background-color: var(--color-surface);
  padding: 0.5rem 1rem;
}

.cart-item .name {
  flex: 1;
}

.cart-item img {
  height: 8rem;
  width: 8rem;
  object-fit: contain;
}

.cart-item button {
  cursor: pointer;
  background-color: var(--color-primary);
  color: white;
  padding: 0.5rem 1rem;
  font-weight: bold;
}

.cart-item button:disabled {
  background-color: var(--color-muted);
  cursor: not-allowed;
}

.cart-item .price {
  text-align: center;
  width: 7rem;
  font-weight: bold;
}

.cart-item .remove-btn {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  border: 2px solid var(--color-border);
  background-color: transparent;
  /* background-color: hsl(330, 5%, 91%); */
  color: var(--color-muted);
  display: flex;
  justify-content: center;
  align-items: center;
}

.cart-item input {
  text-align: center;
  width: 4rem;
  border: none;
  outline: none;
}

.cart-item .info {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  flex: 1;
}

.cart-item .info > div {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.cart-item .info > div:nth-of-type(1) {
  flex: 1;
}

.checkout-btn {
  background-color: var(--color-primary);
  color: white;
  padding: 1rem;
  cursor: pointer;
}

.summary {
  display: flex;
  align-items: center;
  flex-direction: column;
  font-size: 1.5rem;
}

.navigation {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
}

@media (min-width: 576px) {
  .cart-item {
    flex-direction: row;
  }
}
