@import "./reset.css";
@import "./style.css";
@import "./utils.css";
@import "./header.css";
@import "./cart-drawer.css";
@import "./utils.css";
@import "./footer.css";

header {
  margin-top: 0;
  box-shadow: 0px 0px 0px 2px var(--color-border);
  position: sticky;
  background-color: var(--color-surface);
}

body {
  display: flex;
  flex-direction: column;
}

main {
  flex: 1;
}

.product {
  margin-block: 2rem;
}

.product-container {
  font-size: 1.5rem;
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
  gap: 1rem;
}

.product-details .name {
  font-size: 2rem;
  font-weight: bold;
}

.product-details .description {
  font-size: 1.6rem;
}

:is(.product-details) .price,
.brand {
  font-weight: bold;
}

.product-details input {
  border: 1px solid gray;
  width: 10rem;
  padding: 0.75rem;
  padding-inline: 1rem 1.5rem;
}

.product-details .add-to-cart {
  background-color: var(--color-primary);
  color: white;
  padding: 0.75rem;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 1rem;
}

.image-wrapper {
  justify-self: center;
}

.image-wrapper img {
  height: 40rem;
  object-fit: contain;
}

@media (min-width: 576px) {
  .product-container {
    grid-template-columns: 3fr 4fr;
  }
}
