@import "./shared.css";
@import "./utils.css";
@import "./header.css";

.hero {
  height: calc(70vh - 107.5px);
  background-image: url("../images/hero.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.hero::before {
  content: "";
  position: absolute;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.7);
}

h1 {
  z-index: 1;
  font-size: clamp(2rem, 2.162vw + 1.189rem, 4rem);
  color: white;
  background-color: rgba(0, 0, 0, 0.9);
  padding: 1rem;
  border-radius: 4px;
}

h1:hover {
  cursor: pointer;
}

@media (min-width: 992px) {
  .hero {
    height: calc(100vh - 52.5px);
  }
}
